 <!DOCTYPE html>
 <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1>Subject</h1>
    <h2><%= @subject %></h2>
      <p> <%= @body %> </p>
    </body>
</html>