<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
    <h1>Subject: <%= @subject %></h1>

    <p>Message: <%= @message %></p>
    </body>
  </html>